@font-face {
    font-family: 'Prata';
    src: url('../assets/fonts/Prata-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Arial', sens-serif;
    background: #f5f5f5;
    color: #fff;
}

.container {
    max-width: 1920px;
    margin: 0 clamp(20px, 8.33vw, 160px); /*TODO: check the size for another media query*/
    height: 100%;
}

.hero {
    display: flex;
    background-color: #222222;
    min-height: 100vh;
    overflow: auto;
}

.header {
    font-family: 'Prata', serif;
    position: fixed;
    left: 0;
    width: calc(100% - 10rem);
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: background 0.3s, top 0.3s, backdrop-filter 0.3s;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    padding: 0 clamp(20px, 8.33vw, 160px); /*160px*/
    z-index: 10;
}

.logo {
    text-transform: uppercase;
    font-family: 'Prata', Serif;
    font-size: 2.25rem;
    font-weight: bold;
    margin-right: clamp(20px, 13.021vw, 250px);
}

.scrolled {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    width: 100vw;
    left: 0;
    right: 0;
    transition: background 0.3s, backdrop-filter 0.3s;
}

.header .nav-list {
    display: flex;
    list-style: none;
    font-size: 1rem;
    font-style: italic;
}

.header .nav-list li:not(:last-child) {
    margin-right: 1rem;
}

.header .nav-list a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.header .nav-list a:hover {
    color: #D5C9BE;
}

.block-left {
    width: 60%;
    padding: 0 0 clamp(20px, 2.604vw, 50px) clamp(20px, 8.33vw, 160px);
    display: flex;
    flex-direction: column;
}

.block-right {
    width: 40%;
    background: url("../assets/images/2 2.png") center/cover no-repeat;
}

.price {
    max-width: 44.375rem;
    margin-top: 20rem;
    line-height: 1;
}

.price-title {
    font-family: 'Prata', serif;
    font-size: 5rem;
    font-weight: normal;
    margin-bottom: 3.125rem;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.3),
    0 0 6px rgba(255, 255, 255, 0.2);
}

.price-desc {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 3.75rem;
}

.advantages {
    margin-bottom: 2.5rem;
}

.advantages-list {
    list-style: none;
    padding: 0;
}

.advantages li {
    position: relative;
    font-size: 1.5rem;
    padding-left: 2.5rem;
    margin-bottom: 1.875rem;
}

.advantages li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.75rem;
    height: 1.75rem;
    background: url('../assets/images/tick.png') no-repeat center/contain;
}

.highlight {
    font-family: 'Prata', Serif;
    font-size: 1.75rem;
    font-weight: bold;
    color: #EFCFAD;
}

.button {
    width: fit-content;
    display: inline-block;
    padding: 1.875rem 3.125rem;
    font-size: 1.4375rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #222222;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #f0f0f0;
    transform: scale(1.02);
}

.button:active {
    transform: scale(0.98);
}

.features {
    display: flex;
    min-height: 45rem;
    padding: 6.25rem 0 0;
    background: #282829;
}

.feature-item {
    width: 30%;
}

.feature-left {
    height: auto;
    background: url('../assets/images/3 1.png') center/cover no-repeat;
}

.feature-right {
    height: auto;
    background: url('../assets/images/1 9.png') center/cover no-repeat;
}

.feature-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1.5;
    padding: 3.125rem 3.125rem 0;
    color: white;
}

.feature-list {
    list-style: none;
    padding: 0;
    margin-bottom: 1.25rem;
}

.feature-list li {
    position: relative;
    font-size: 1.5rem;
    padding-left: 4.25rem;
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #55565A;
}

.feature-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    background: url('../assets/images/flower.png') no-repeat center/contain;
}

.button-full {
    width: 100%;
}

.contact {
    padding: clamp(20px, 6.25rem, 100px) 0;
    background-color: #282829;
    border-bottom: 2px solid #D5C9BE;
}

.contact-form {
    display: flex;
    height: auto;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6), 0 -4px 10px rgba(255, 255, 255, 0.1);
    outline: 1px solid rgba(255, 255, 255, 0.2);
}

.contact-form-fields {
    width: 60%;
    height: 100%;
    padding: clamp(20px, 3.646vw, 70px) clamp(20px, 6.771vw, 130px);
}

.contact-form-fields h2 {
    font-weight: normal;
}

.contact-title {
    font-family: 'Prata', Serif;
    font-size: 3.375rem;
    color: #38535D;
    margin-bottom: clamp(20px, 2.344vw, 45px);
}

form input {
    display: flex;
    flex-direction: column;
    padding: 0.9375rem 2.1875rem;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #55565A;
}

.contact-input {
    width: 100%;
}

form input[type="text"] {
    margin-bottom: 0.9375rem;
}

form input[type="email"] {
    margin-bottom: 1.5625rem;
}

.contact-checkbox {
    display: flex;
    color: #405D65;
    margin-bottom: 1.5625rem;
    align-items: center;
}

.contact-checkbox input {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.9375rem;
    border: 1px solid #405D65;
}

.contact-policy {
    font-size: 1.1875rem;
}

.button-black {
    background-color: #282829;
    color: #ffffff;
    font-size: 1.5rem;
}

.contact-images {
    position: relative;
    width: 40%;
    height: auto;
}

.contact-images-all {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/images/8-8 3.png') right/cover no-repeat;
    border-radius: 0 20px 20px 0;
}

.contact-images-all::after {
    content: "";
    position: absolute;
    background: url('../assets/images/photo_2023-11-03 15.50 1.png') center/contain no-repeat;
    background-size: 88%;
    width: 100%;
    height: 115%;
    /*top: -40px; !*TODO: check on small screen*!*/
    top: -40px; /*TODO: check on small screen*/
    /*left: -100px;*/
    left: -100px;
    clip-path: inset(0 0 50px 0);
}

.footer {
    background-color: #222222;
}

.footer-nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.25rem;
    color: #ffffff;
    padding: 2.5rem 0;
    border-bottom: 2px solid #D5C9BE;
}

.footer-nav-list li:not(:last-child) {
    margin-right: 3.75rem;
}

.footer-nav-list a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-copy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.8125rem 0 3.75rem;
}

.footer-copy-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.footer-copy-column:first-child p {
    color: #ffffff;
    font-size: 1.25rem;
}

.footer-copy-column:nth-child(2) {
    align-items: center;
}

.footer-copy-column:last-child {
    align-items: end;
}

.footer-copy-social svg:not(:last-child) {
    margin-right: 2rem;
}

.footer-copy-links {
    color: #D5C9BE;
    text-decoration: none;
    font-size: 1.25rem;
}

.button-footer {
    margin-bottom: 2.1875rem;
}

@media (max-width: 1600px) {
    .header {
        height: 6.5rem;
    }

    .price {
        margin-top: 16rem;
    }

    .price-title {
        font-size: 4rem;
    }

    .price-desc {
        font-size: 1.9rem;
        margin-bottom: 3rem;
    }

    .advantages li {
        font-size: 1.2rem;
        margin-bottom: 1.3rem;
    }

    .highlight {
        font-size: 1.5rem;
    }

    .button {
        padding: 1.6rem 2.8rem;
        font-size: 1.3rem;
    }

    .hide-on {
        display: none;
    }

    .feature-list li {
        font-size: 1.3rem;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }

    .feature-list li::before {
        width: 2.5rem;
        height: 2.5rem;
    }

    .contact-title {
        font-size: 3rem;
    }

    .contact-form-fields {
        padding: clamp(20px, 3vw, 70px) clamp(20px, 6vw, 130px);
    }

    form input {
        padding: 0.8em 1.8rem;
        font-size: 1.3rem;
    }

    .contact-policy {
        font-size: 1rem;
    }

    .footer-copy-links {
        font-size: 1rem;
    }

    .contact-images-all::after {
        width: 108%;
        height: 118%;
    }

    .footer-nav-list {
        font-size: 1rem;
    }

    .footer-copy-column:first-child p {
        font-size: 1rem;
    }

}

@media (max-width: 1200px) {
    .container {
        margin: 0 7.33vw;
    }

    .header {
        height: 4.5rem;
    }

    .logo {
        font-size: 2rem;
        margin-right: 6vw;
    }

    .price {
        margin-top: 15rem;
    }

    .price-title {
        font-size: 3.5rem;
    }

    .price-desc {
        font-size: 1.75rem;
        margin-bottom: 2.75rem;
    }

    .advantages-list li {
        margin-bottom: 1.3rem;
    }

    .button {
        padding: 1.3rem 2.125rem;
        font-size: 1.2rem;
    }

    .features {
        padding: 4.25rem 0 0;
        min-height: auto;
    }

    .feature-list li {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .feature-list li::before {
        width: 2.8rem;
        height: 2.8rem;
    }

    .feature-center {
        padding: 2.125rem 2.125rem 0;
    }

    .contact-title {
        font-size: 2.375rem;
    }

    .contact {
        padding: 4.25rem 0;
    }

    form input {
        padding: 0.8rem 2rem;
        font-size: 1.2rem;
    }

    .contact-policy {
        font-size: 1rem;
    }

    .contact-images-all::after {
        width: 115%;
        height: 121%;
    }

    .footer-copy-links, .footer-nav-list,
    .footer-copy-column:first-child p {
        font-size: 1rem;
    }

    .footer-copy-social svg:not(:last-child) {
        margin-right: 1.5rem;
    }

    .hide-on {
        display: none;
    }
}

@media (max-width: 1024px) {
    .header {
        height: 4.5rem;
        padding: 0 clamp(20px, 6.33vw, 160px);
    }

    .block-left {
        padding: 0 0 clamp(20px, 2.604vw, 50px) clamp(20px, 6.33vw, 160px);
    }

    .logo {
        font-size: 1.5rem;
        margin-right: 8vw;
    }

    .nav-list {
        font-size: 0.9rem;
    }

    .nav-list li {
        font-size: 0.8rem;
    }

    .price-title {
        font-size: 2.9rem;
        margin-bottom: 2rem;
    }

    .price {
        margin-top: 14rem;
    }

    .price-desc {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .advantages li {
        font-size: 1rem;
        margin-bottom: 1rem;
        padding-left: 2.1rem;
    }

    .advantages li::before {
        width: 1.5rem;
        height: 1.5rem;
    }

    .button {
        padding: 1.25rem 2rem;
        font-size: 1rem;
    }

    .features {
        padding: 4rem 0 0;
        min-height: auto;
    }

    .feature-list li {
        font-size: 1.1rem;
        margin-bottom: 1.3rem;
        padding-bottom: 1.3rem;
    }

    .feature-list li::before {
        width: 2.3rem;
        height: 2.3rem;
    }

    .contact {
        padding: 4rem 0;
    }

    .container {
        margin: 0px 6.33vw;
    }

    .contact-title {
        font-size: 2rem;
    }

    form input {
        padding: 0.8rem 1.3rem;
        font-size: 1.1rem;
    }

    .contact-checkbox input {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.7rem;
    }

    .contact-images-all::after {
        width: 117%;
        height: 123%;
    }

    .contact-policy, .footer-copy-links,
    .footer-nav-list, .footer-copy-column:first-child p {
        font-size: 0.8rem;
    }

    .footer-copy {
        padding: 2rem 0;
    }

    .footer-nav-list li:not(:last-child) {
        margin-right: 2.75rem;
    }

    .footer-copy-social svg:not(:last-child) {
        margin-right: 1rem;
    }

    .footer-copy-social svg {
        width: 1.75rem;
        height: 1.75rem;
    }

    .button-footer {
        margin-bottom: 2rem;
    }
}
